<div class="d-flex align-items-center mb-3">
	<h1>学生の詳細</h1>
	<div class="ml-auto">
		<%= link_to '一覧', students_path, class: 'btn btn-outline-dark' %>
	</div>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= Student.human_attribute_name(:name) %></th>
      <td><%= @student.name %></td>
    </tr>
    <tr>
      <th><%= Student.human_attribute_name(:id) %></th>
      <td><%= @student.mynumber %></td>
    </tr>
    <tr>
      <th><%= Student.human_attribute_name(:gpa) %></th>
      <td><%= @student.gpa %></td>
    </tr>
    <tr>
      <th><%= Student.human_attribute_name(:gp) %></th>
      <td><%= @student.gp %></td>
    </tr>
  </tbody>
</table>
<td><%= link_to '編集', edit_student_path, class: 'btn btn-primary mr-3' %></td>
<td><%= link_to '削除', @student, method: :delete, data: {confirm: "学生「#{@student.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger mr-3' %></td>