<div class="d-flex align-items-center mb-3">
  <h1>学生の詳細</h1>
  <div class="ml-auto">
    <%= link_to '一覧', registered_students_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<table class="table table-hover">
  <tbody>
    <tr>
      <th><%= Student.human_attribute_name(:name) %></th>
      <td><%= @student.name %></td>
    </tr>
    <tr>
      <th><%= Student.human_attribute_name(:id) %></th>
      <td><%= @student.mynumber %></td>
    </tr>
    <tr>
      <th><%= Student.human_attribute_name(:gpa) %></th>
      <td><%= @student.gpa %></td>
    </tr>
    <tr>
      <th><%= Student.human_attribute_name(:gp) %></th>
      <td><%= @student.gp %></td>
    </tr>
  </tbody>
</table>