<div class="d-flex align-items-center">
	<h1>教員一覧</h1>
	<div class="ml-auto">
		<%= link_to '新規登録', new_teacher_path, class: 'btn btn-outline-dark' %>
	</div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>名前</th>
      <th>学籍番号</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |t| %>
      <tr>
        <td><%= link_to t.name, t %></td>
        <td><%= t.mynumber %></td>
        <td><%= link_to '編集', edit_teacher_path(t), class: 'btn btn-primary mr-3' %></td>
        <td><%= link_to '削除', t, method: :delete, data: {confirm: "教員「#{t.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger mr-3' %></td>
      </tr>
    <% end %>
  </tbody>
</table>