<div class="d-flex align-items-center">
	<h1>ユーザー一覧</h1>
	<div class="ml-auto">
		<%= link_to '新規登録', new_admin_user_path, class: 'btn btn-outline-dark' %>
	</div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:admin) %></th>
      <th><%= User.human_attribute_name(:student) %></th>
      <th><%= User.human_attribute_name(:teacher) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, [:admin, user] %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? "あり" : "なし" %></td>
        <td><%= user.student? ? "〇" : "-" %></td>
        <td><%= user.teacher? ? "〇" : "-" %></td>
        <td><%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-primary mr-3' %></td>
        <td><%= link_to '削除', [:admin, user], method: :delete, data: { confirm: "「#{user.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
