<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mb-4">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <%= link_to "研究室配属システム", "#", class: "navbar-brand" %>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <% if current_user.admin? %>
              <li class="nav-item">
                    <%= link_to "システムの概要", root_path, class: "nav-link" %>
                </li>
              <li class="nav-item">
                    <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
                </li>
              <li class="nav-item">
                  <%= link_to "学生一覧(編集)", students_path, class: "nav-link" %>
                </li>
              <li class="nav-item">
                  <%= link_to "教員一覧(編集)", teachers_path, class: "nav-link" %>
                </li>
            <% end %>
            <% if current_user.teacher? %>
              <li class="nav-item">
                  <%= link_to "学生一覧", registered_students_path, class: "nav-link" %>
                </li>
            <% end %>
            <% if current_user.student? %>
              <li class="nav-item">
                  <%= link_to "教員一覧", registered_teachers_path, class: "nav-link" %>
                </li>
            <% end %>
            <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
          <% else %>
            <li><%= link_to 'ログイン', login_path %></li>
          <% end %>
        </ul>
      </nav> 
    </div>
  	<div class="container">
      <% if flash.notice.present? %>
         <div class="alert alert-success"><%= flash.notice %></div>
      <% end %>
	    <%= yield %>
	</div>
  </body>
</html>
